@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "lato";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-left: 35px;
  margin-top: 25px;
  color: #093641;
}

h6 {
  color: white;
  font-size: 10px;
  font-family: "Montserrat";
  color: #093641;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  color: #093641;
}

.cart {
  display: flex;
}

.products {
  width: 60%;
}

.product {
  display: flex;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-style: solid;
  border-color: #e3e3e3;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  margin-bottom: 20px;
}

.product img {
  object-fit: cover;
}

.product-info {
  padding: 20px;
  width: 100%;
  position: relative;
}

.product-name,
.product-price {
  margin-bottom: 20px;
}

.product-remove {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.product-favorite {
  position: absolute;
  bottom: 20px;
  right: 100px;
  padding: 10px 25px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.product-remove:hover,
.product-favorite:hover {
  border-style: solid;
  color: #bfbd8a;
  font-weight: 600;
}

.product-quantity input {
  width: 40px;
  padding: 5px;
  text-align: center;
  color: #093641;
}

.fa {
  margin-right: 5px;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.button {
  color: #093641;
  bottom: 20px;
  right: 100px;
  padding: 10px 25px;
  background-color: #e3e3e3;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #bfbd8a;
  font-weight: 600;
}

.cart-total {
  color: #093641;
  flex: 25%;
  margin-left: 20px;
  padding: 20px;
  height: 250px;
  border-style: solid;
  border-color: #e3e3e3;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cart-total p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  font-size: 20px;
}

footer {
  background-color: #093641;
  margin-top: 100px;
  justify-content: center;
  padding: 30px;
  text-align: center;
  color: white;
}

h6 {
  color: white;
  font-size: 10px;
  font-family: "Montserrat";
}

@media screen and (max-width: 350px) {
  .product {
    height: 200px;
  }
  .product img {
    height: 150px;
    width: 300px;
  }
  .product-name,
  .product-price {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.3rem;
    text-align: center;
  }
  .product {
    height: 150px;
    width: 325px;
  }
  .product img {
    height: 150px;
    width: 200px;
  }
  .product-name,
  .product-price {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  .cart {
    flex-direction: column;
  }
  .cart-total {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .product-remove {
    display: none;
  }
  .product-favorite {
    display: none;
  }
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 95%;
  }
}
