@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0%;
  font-family: "lato";
}

.socials {
  color: white;
  font-size: 25px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  text-align: center;
}

.info-content {
  overflow: hidden;
  border-style: solid;
  border-color: #e3e3e3;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  padding: 50px;
}

.image1 {
  height: 350px;
}

.image2,
.image3 {
  height: 200px;
}

.boxes {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 4px;
}

.box1 {
  height: 20px;
  width: 20px;
  border: 1px solid #d59f60;
  background-color: #d59f60;
}
.box2 {
  height: 20px;
  width: 20px;
  border: 1px solid #286e77;
  background-color: #286e77;
}
.box3 {
  height: 20px;
  width: 20px;
  border: 1px solid #093641;
  background-color: #093641;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  bottom: 20px;
  right: 100px;
  padding: 10px 25px;
  background-color: #e3e3e3;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  color: #093641;
}

.button:hover {
  background-color: #bfbd8a;
  font-weight: 600;
}

footer {
  background-color: #093641;
  margin-top: 100px;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

h6 {
  color: white;
  font-size: 10px;
  font-family: "Montserrat";
}

.socials {
  color: white;
  font-size: 25px;
}
